body {
  background-color: #e3e3e3;
}

/* CSS Elements intented for the landing page */
.landingText {
  text-align: center;
}

.landingBtnBox {
  display: flex;
  flex-direction: row;  
  align-items: center;
  justify-content: center; 
} 

/* CSS Elements intented for the home page */
.introSection {
  position: relative;
  height: 100vh; 
  width: 100%;

  overflow-x: hidden;
  background-image: url("images/food_spread_1.jpg"); 
  background-size: cover; 
  background-position: center;
  background-repeat: no-repeat; 

  display: flex;
  flex-direction: row;  
  align-items: center;
  justify-content: center;  
} 

.introContent { 
  position: absolute; 
  top: 50%;
  left: 50%; 
  transform: translate(-50%, -50%);
  padding: 2.5rem;

  background-color: #e3e3e3;

  display: flex;
  flex-direction: column;  
  align-items: left;
  justify-content: center; 
}  

.introHeader, .introPhoneHeader {
    margin: 0 0 1rem 0;
}  

.introDesc { 
  font-size: 1rem; 
  margin: 0 0 1rem 0;

  color: #151515;
}

.introMenuButton {
  display: block;
  margin: 0 auto;
  padding: 1rem;

  background-color: #f76350;
  color: white;
  font-size: 1rem; 
  text-decoration: none; 

  transition: transform 0.2s ease-in-out;
} 

.introMenuButton:hover {
  background-color: #ff3500; 

  transform: scale(1.1);
}

.newsSection, .aboutSection, .specialSection, .contactSection {
  padding: 1rem 3rem 1rem;
}  

.newsHeader {
  text-align: center;
}

.newsContent {
  display: flex;
  flex-direction: column;  
  align-items: center;
  justify-content: center;
}

.aboutSection {  
  display: flex;
  flex-direction: row;  
  align-items: center;
  justify-content: center; 
} 

.aboutMenuButton:hover {
  background-color: #ff3500; 

  transform: scale(1.1);
}

.aboutImage {
  width: clamp(15rem, 25vw, 1000vw);
  height: auto;
} 

.specialSection { 
  display: flex;
  flex-direction: column;  
  align-items: center;
  justify-content: center; 
} 

.specialHeader {
  text-align: center;
} 

.specialContent {  
  display: flex;
  flex-direction: row;  
  align-items: center;
  justify-content: center; 
}

.specialItem {
  background-color: white; 
  margin: 1rem;
}

.specialDesc {
  margin: 1rem;
}

.contactSection {
  display: flex;
  flex-direction: row;  
  align-items: center;
  justify-content: center; 
} 

.contactMap {
  width: 100%; 
  height: clamp(500px, 600px, 700px);
}

.contactContent {
  margin: 0 5rem 0;
}

.footerSection {
  width: 100%; 

  background-color: #151515;
  color: white; 

  display: flex;
  flex-direction: row;  
  align-items: center;
  justify-content: center; 
} 

.footerContent { 
  margin: 5rem;

  display: flex;
  flex-direction: column;  
  align-items: center;
  justify-content: center; 
}

@media (max-width: 768px) { 

 .introContent {
    width: 100%; 
    transform: translate(-50%, -50%);
 } 

 .introDesc {
    padding: 0 2rem 0;
  }

  .introHeader, .introPhoneHeader, .aboutHeader, .contactHeader {
    text-align: center;
  }  

  .aboutSection {
    flex-direction: column;  
  } 

  .specialContent {
    flex-direction: column;
  }

  .contactSection {
    flex-direction: column;
  }

  .footerSection {
    flex-direction: column;  
  } 

}