.loginSection {
    display: flex;
    flex-direction: column;  
    align-items: center;
    justify-content: center; 
}

.loginBody { 
    background-color: white; 
    margin: 0 5rem 0;

    display: flex;
    flex-direction: column;  
    align-items: center;
    justify-content: center;
}