.loginSection { 
    height: 80vh; 

    display: flex;
    flex-direction: column;  
    align-items: center;
    justify-content: center; 
}

.loginBody { 
    background-color: white; 
    margin: 0 5rem 0;

    display: flex;
    flex-direction: column;  
    align-items: center;
    justify-content: center;
} 

.loginTextEntry { 
    width: 50vw;

    padding: 7px; 
    margin: 0 2rem 0;
    border-radius: 10px;

    caret-color: #ff3500; 
    background-color: #e3e3e3; 
    border: 1px solid #e3e3e3;
}

.loginBtnBox {
    display: flex;
    flex-direction: row;  
    align-items: center;
    justify-content: center;
}

.loginBtn {
    display: block;
    margin: 1rem;
    padding: 1rem;

    background-color: #f76350;
    border-style: none;
    color: white;
    font-size: 1rem; 
    text-decoration: none; 

    transition: transform 0.2s ease-in-out;
} 

.loginBtn:hover {
  background-color: #ff3500; 

  transform: scale(1.1);
}