.adminTitleSection {
  width: auto;
  height: 20vh; 

  background-image: url("../../images/food_spread_1.jpg"); 
  background-size: cover; 
  background-position: center;
  background-repeat: no-repeat;  

  display: flex;
  flex-direction: column;  
  align-items: center;
  justify-content: center;
} 

.adminTitleContent {
  width: 30vw; 
  height: 10vh;

  background-color: #00000080; 
  color: white; 
  text-align: center;

  display: flex;
  flex-direction: column;  
  align-items: center;
  justify-content: center; 
} 

.adminNewsSection, .adminMenuSection, .adminMenuEditSection { 
  background-color: white; 
  border-radius: 25px;
  margin: 1rem 5rem 1rem; 
  padding: 1rem;

  text-align: center;

  display: flex;
  flex-direction: column;  
  align-items: center;
  justify-content: center;
} 

.adminMenuContent {
  width: 50vw; 

  display: flex;
  flex-direction: column;  
  align-items: start;
  justify-content: center;
}

.adminButtonBox {
  display: flex;
  flex-direction: row;  
  align-items: center;
  justify-content: center;
}

.adminMenuButton { 
  margin: 1rem;
  padding: 1rem;

  background-color: #f76350;
  color: white;
  font-size: 1rem; 
  text-decoration: none; 

  transition: transform 0.2s ease-in-out;
}

.adminMenuButton:hover {
  background-color: #ff3500; 

  transform: scale(1.1);
}

@media (max-width: 768px) { 
  .adminTitleContent {
    width: 100vw;
  } 

  .adminNewsSection, .adminMenuSection, .adminMenuEditSection { 
    margin: 1rem 2rem 1rem; 
  } 

  .adminMenuContent {
    width: 75vw;
  }
}