.adminTitleSection {
  width: auto;
  height: 20vh; 

  background-image: url("../../images/food_spread_1.jpg"); 
  background-size: cover; 
  background-position: center;
  background-repeat: no-repeat;  

  display: flex;
  flex-direction: column;  
  align-items: center;
  justify-content: center;
} 

.adminTitleContent {
  width: 30vw; 
  height: 10vh;

  background-color: #00000080; 
  color: white; 
  text-align: center;

  display: flex;
  flex-direction: column;  
  align-items: center;
  justify-content: center; 
} 

.adminNewsSection, .adminMenuSection, .adminMenuEditSection { 
  background-color: white;

  margin: 1rem 2rem 1rem;

  display: flex;
  flex-direction: column;  
  align-items: center;
  justify-content: center;
} 

.adminMenuContent {
  width: 50vw; 

  display: flex;
  flex-direction: column;  
  align-items: start;
  justify-content: center;
}

@media (max-width: 768px) { 
  .adminTitleContent {
    width: 100vw;
  } 

}