.categoryHeaderBox {
  width: 100%; 

  text-align: left;
}

.categoryTextEntry { 
  width: 40vw;

  padding: 7px; 

  caret-color: #ff3500; 
  background-color: #e3e3e3; 
  border: 1px solid #e3e3e3;
} 

.categoryBtnEntry {  
  margin: 5px; 
  padding: 7px;

  background-color: #f76350; 
  border: none;
  color: white; 
  font-size: 1rem;
  text-decoration: none; 

  transition: transform 0.2s ease-in-out;
}

.categoryBtnEntry:hover {
  background-color: #ff3500; 

  cursor: pointer; 

  transform: scale(1.1);
}

.categoryBtnEntry:disabled {
  background-color: #966c66; 
  color: #c9c9c9;  
} 

.categoryBtnEntry:disabled:hover {
  background-color: #966c66; 
  color: #c9c9c9; 

  cursor: default; 

  transform: none;
}

.categoryItemHolder {  
  max-height: 30vh;

  border: 2px solid #e3e3e3;

  overflow:scroll;
  overflow-x:hidden; 

  box-sizing: border-box;
}

.categoryItem { 
  display: flex;
  flex-direction: row;  
  align-items: center;
  justify-content: center;  
  justify-content: space-between;
} 

.categoryItem:nth-child(odd) {
  background-color: #e3e3e3;
}

.categoryItemTextEntry { 
  padding: 7px; 

  caret-color: #ff3500; 
  background-color: white; 
  border: 1px solid #e3e3e3;
} 

@media (max-width: 768px) { 
  .categoryItemHolder {  
    width: 100%;
  }
}